@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;
  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.5em) {
  html {
    font-size: 50%;
  }
}

body {
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 120rem;
  background-color: white;
  margin: 8rem auto;
  box-shadow: 0 4rem 3rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
@media screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 8rem;
  background-color: var(--color-gray-light-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border-bottom: 2px solid black;
}
@media screen and (max-width: 25em) {
  .header {
    height: 12rem;
  }
}

.navigation {
  display: flex;
  height: 100%;
  flex-direction: row;
}
.navigation > * {
  cursor: pointer;
}
.navigation > *:hover {
  background-color: var(--color-gray-light-3);
}

.content {
  display: flex;
}
@media screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  width: 18%;
}

.hotel-view {
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-gray-light-3);
  border-bottom: 1px solid var(--colo-gray-dark-3);
  font-size: 1.4rem;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3rem;
  }
}
@media screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  margin-bottom: 0;
}
@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 37.5em) {
  .description {
    margin: 0;
  }
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 37.5em) {
  .user-reviews {
    margin-top: 2rem;
  }
}

::-moz-selection {
  background-color: red;
  color: white;
}

::selection {
  background-color: red;
  color: white;
}

.logo {
  height: 3.5rem;
  margin-left: 1rem;
}

.search {
  width: 50%;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 0 40%;
}
@media screen and (max-width: 25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
  }
}
.search__input {
  padding: 0rem 2rem;
  width: 50%;
  margin-right: -7.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 100px;
  background-color: var(--color-gray-light-3);
  transition: all 0.4s;
}
.search__input::-moz-placeholder {
  font-size: 1rem;
}
.search__input::placeholder {
  font-size: 1rem;
}
.search__input:focus {
  width: 80%;
  outline: none;
}
.search__button {
  background-color: var(--color-gray-light-3);
  border: none;
}

.icon-svg {
  width: 6.5rem;
  height: 4rem;
  fill: var(--color-gray-dark-2);
}

.icon-search {
  height: 2.5rem;
}

.user__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.user__icon-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: white;
}
.user__icon-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-right: 1rem;
}
.user__icon-photo {
  border-radius: 50%;
  width: 6.5rem;
}

.sidebar {
  font-size: 1.4rem;
  background-color: var(--color-gray-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 56.25em) {
  .sidebar {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}
.sidebar__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}
.sidebar__item {
  list-style-type: none;
  flex-direction: column;
}
@media screen and (max-width: 56.25em) {
  .sidebar__item {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    margin-bottom: 0;
  }
}
.sidebar__list {
  background-color: var(--color-primary-dark-1);
  margin-bottom: 1px;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .sidebar__list {
    flex: 1;
    margin-bottom: 0;
  }
}
.sidebar__list::before {
  content: "";
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1);
}
.sidebar__list:hover::before, .sidebar__list--active::before {
  transform: scaleY(1);
  width: 100%;
}
.sidebar__list:active::before {
  background-color: var(--color-primary-light);
}
.sidebar__link:link, .sidebar__link:visited {
  position: relative;
  z-index: 10;
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-gray-light-1);
  text-transform: uppercase;
  display: block;
  padding: 1.4rem 3rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 56.25em) {
  .sidebar__link:link, .sidebar__link:visited {
    justify-content: center;
    padding: 2rem;
  }
}
@media screen and (max-width: 37.5em) {
  .sidebar__link:link, .sidebar__link:visited {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
    justify-content: center;
  }
}
.sidebar__link:hover {
  color: white;
}
.sidebar .legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-gray-light-4);
}
@media screen and (max-width: 56.25em) {
  .sidebar .legal {
    display: none;
  }
}

.gallery {
  display: flex;
}
.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  border-bottom: 1px solid var(--color-gray-dark-1);
  align-items: center;
}
.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}
@media screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
}
.overview__stars {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}
.overview__location {
  font-size: 1.2rem;
  display: flex;
  vertical-align: center;
}
.overview__icon-location {
  margin-right: 0.5rem;
}
.overview__rating {
  background-color: var(--color-primary);
  margin-left: 3rem;
  color: white;
  text-align: center;
  align-self: stretch;
  padding: 0 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 37.5em) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}
.overview__rating--average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-right: -3px;
}
@media screen and (max-width: 37.5em) {
  .overview__rating--average {
    font-size: 1.8rem;
  }
}
.overview__rating--count {
  font-size: 0.8rem;
  text-transform: uppercase;
}
@media screen and (max-width: 37.5em) {
  .overview__rating--count {
    font-size: 0.5rem;
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline span {
  margin-left: 3px;
  transition: all 0.2s;
}
.btn-inline:hover {
  color: var(--color-gray-dark-1);
}
.btn-inline:hover span {
  margin-left: 8px;
}
.btn-inline:focus {
  outline: none;
  animation: pulsate 1s infinite;
  padding: 1rem;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.paragraph {
  font-size: 1.4rem;
  color: var(--color-gray-dark-1);
}
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  position: relative;
  list-style-type: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-gray-dark-3);
  border-bottom: 1px solid var(--color-gray-dark-3);
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  font-size: 1.4rem;
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
}
.list__item::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary);
  -webkit-mask-image: url(../img/svg/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  margin-right: 0.7rem;
}

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-gray-dark-3);
}
.recommend__friend {
  position: relative;
  margin-left: auto;
}
.recommend__photo {
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
}
.recommend__photo:not(:last-child) {
  margin-right: -2rem;
}

.review {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-bottom: 3rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}
.review::before {
  content: "“";
  position: absolute;
  left: -1.5rem;
  top: -2.75rem;
  font-size: 20rem;
  color: var(--color-gray-light-4);
  line-height: 1;
  font-family: sans-serif;
  z-index: 1;
}
.review__text {
  margin-bottom: 2rem;
  color: var(--color-gray-dark-2);
  z-index: 10;
  position: relative;
}
.review__user {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}
.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
.review__user-box {
  margin-left: 0.5rem;
}
.review__user-name {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.review__user-date {
  font-size: 1rem;
  color: var(--color-gay-dark-3);
}
.review__rating {
  margin-left: auto;
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--color-primary);
}

.cta {
  perspective: 1000rem;
  -webkit-perspective: 1000rem;
  -moz-perspective: 1000rem;
  padding: 3.5rem 0;
  text-align: center;
}
@media screen and (max-width: 56.25em) {
  .cta {
    padding: 2.5rem 0;
  }
}
.cta__booking-heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  color: var(--color-gray-dark-2);
}

.btn {
  border: none;
  position: relative;
  padding: 2rem 7.5rem;
  border-radius: 35px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: white;
  transition: all 0.3s;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 300;
}
.btn:hover::before {
  top: 0;
}
.btn:focus {
  animation: pulsate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.btn::before {
  content: "only 4 rooms left!";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  border-radius: 35px;
  font-size: 1.3rem;
  background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));
  border: none;
  top: -100%;
  left: 0;
  color: white;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}