.logo {
    height: 3.5rem;
    margin-left: 1rem;
}

.search {
    width: 50%;
    transition: all .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__input {
        &::placeholder {
            font-size: 1rem;
        }
        padding: 0rem 2rem;
        width: 50%;
        margin-right: -7.5rem;
        height: 3.5rem;
        border: none;
        border-radius: 100px;
        background-color: var(--color-gray-light-3);
        transition: all .4s;
        &:focus {
            width: 80%;
            outline: none;
        }
    }

    &__button {
        background-color: var(--color-gray-light-3);
        border: none;
    }
}

.icon-svg {
    width: 6.5rem;
    height: 4rem;
    fill: var(--color-gray-dark-2);
}

.icon-search {
    height: 2.5rem;
}

.user__icon {
    &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    &-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: var(--color-primary);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        color: white;
    }
    &-user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-right: 1rem;
    }
    &-photo {
        border-radius: 50%;
        width: 6.5rem;
    }
}

.sidebar {
    font-size: 1.4rem;
    background-color: var(--color-gray-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }

    &__item {
        list-style-type: none;
        flex-direction: column;
    }

    &__list {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
        background-color: var(--color-primary-dark-1);
        margin-bottom: 1px;
        text-align: center;
        position: relative;
        &::before {
            content: '';
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleY(0);
            transition: transform .2s,
            width .4s .2s cubic-bezier(1, 0, 0, 1);
        }

        &:hover::before,&--active::before {
            transform: scaleY(1);
            width: 100%;
        }
        &:active::before{
            background-color: var(--color-primary-light);
        }
    }

    &__link:link,
    &__link:visited {
        position: relative;
        z-index: 10;
        text-decoration: none;
        font-size: 2rem;
        color: var(--color-gray-light-1);
        text-transform: uppercase;
        display: block;
        padding: 1.4rem 3rem;
        display: flex;
        align-items: center;
    }

    &__link:hover {
        color: white;
    }

    .legal {
        font-size: 1.2rem;
        text-align: center;
        padding: 2.5rem;
        color: var(--color-gray-light-4);
    }
}