.logo {
    height: 3.5rem;
    margin-left: 1rem;
}

.search {
    width: 50%;
    transition: all .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__input {
        &::placeholder {
            font-size: 1rem;
        }

        padding: 0rem 2rem;
        width: 50%;
        margin-right: -7.5rem;
        height: 3.5rem;
        border: none;
        border-radius: 100px;
        background-color: var(--color-gray-light-3);
        transition: all .4s;

        &:focus {
            width: 80%;
            outline: none;
        }
    }

    &__button {
        background-color: var(--color-gray-light-3);
        border: none;
    }
}

.icon-svg {
    width: 6.5rem;
    height: 4rem;
    fill: var(--color-gray-dark-2);
}

.icon-search {
    height: 2.5rem;
}

.user__icon {
    &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    &-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: var(--color-primary);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        color: white;
    }

    &-user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-right: 1rem;
    }

    &-photo {
        border-radius: 50%;
        width: 6.5rem;
    }
}

.sidebar {
    font-size: 1.4rem;
    background-color: var(--color-gray-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }

    &__item {
        list-style-type: none;
        flex-direction: column;
    }

    &__list {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        background-color: var(--color-primary-dark-1);
        margin-bottom: 1px;
        text-align: center;
        position: relative;

        &::before {
            content: '';
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleY(0);
            transition: transform .2s,
                width .4s .2s cubic-bezier(1, 0, 0, 1);
        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }

    &__link:link,
    &__link:visited {
        position: relative;
        z-index: 10;
        text-decoration: none;
        font-size: 2rem;
        color: var(--color-gray-light-1);
        text-transform: uppercase;
        display: block;
        padding: 1.4rem 3rem;
        display: flex;
        align-items: center;
    }

    &__link:hover {
        color: white;
    }

    .legal {
        font-size: 1.2rem;
        text-align: center;
        padding: 2.5rem;
        color: var(--color-gray-light-4);
    }
}

//hotel view
.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}

//hotel overview
.overview {
    display: flex;
    border-bottom: 1px solid var(--color-gray-dark-1);
    align-items: center;

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        margin-right: auto;
        display: flex;
        align-items: center;

    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: white;
        text-align: center;
        align-self: stretch;
        padding: 0 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__rating--average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-right: -3px;
    }

    &__rating--count {
        font-size: .8rem;
        text-transform: uppercase;
    }
}

//button components
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: var(--color-gray-dark-1);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(black, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}