*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 500px;
    background-color: #777;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.item{
    justify-content: center;
    background-color: #ccc;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    font-size: 40px;
    box-shadow: 0 0 10px black;
    transition: all .4s;
    display: flex;
    align-items: center;
    
    
}
.item:hover{

}
.item-1{
    flex-basis: 100px;
    
}
.item-2{
    flex-basis: 200px;
}
.item-3{
    /* flex-basis: 300px; */
}
.item-4{
    /* flex-basis: 400px; */
}
.item-5{
    /* flex-basis: 500px; */
    flex: 1 1 auto;
}